<style>
html{
scroll-behavior: smooth;
}
.nav{
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 3px 3px #111;

    
}
nav{
    background-color: brown;
    padding-left: 300px;
    padding-right: 300px;
}
#go{
    padding-left: 10px;
    color: white;
}
.heading{
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px #4444;
    background-color: rgb(151, 117, 117);
}
.contact{
    text-decoration: none;
    font-style: italic;
    color: brown;
}