html {
    scroll-behavior: smooth;
}

.nav {
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 3px 3px #111;


}


/* Id Selector */
.form {
    margin: 10px;
    background-color: rgba(165, 42, 42, 0.478);
    backface-visibility: 50%;

}

form button {
    border-radius: 10px;
    box-sizing: inherit;
    background-color: #04AA6D;
    padding: 14px 28px;
    cursor: pointer;
    text-align: center;
}

/* Card CSS */
div {
    height: 400px;
    width: 225px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Rubik, sans-serif;
    padding: auto;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;

}

.but {
    background-color: rgba(240, 248, 255, 0);
    color: white;
}

.but:hover {
    font-size: 15px;

}